@model EasyForm.ViewModel.LoginVm
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>

            <form method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*Email*@
                <div class="mb-3">
                    <label class="form-label" asp-for="Email">Email Address</label>
                    <input type="text" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                @*Password*@
                <div class="mb-3">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                @*Remember Me*@
                <div class="mb-3 form-check">
                    <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                    <label class="form-check-label" asp-for="RememberMe">Remember Me?</label>
                </div>

                @*Button Submit*@
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
